@model Room2Room.Models.DTOs.ItemDisplayModel
@{
    ViewData["Title"] = "Home Page";
    var myId = int.Parse(User.FindFirst("AccountId")?.Value);
}
@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/watchlist.js"></script>

}

<div class="my-4">
    <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">

        <div class="col-12">
            <label class="visually-hidden" for="categoryId">Category</label>
            <select class="form-select" id="categoryId" name="categoryId">
                <option selected value=@null>Filter by category</option>
                @foreach (var category in Model.Categories)
                {
                    <option selected="@(category.Id == Model.CategoryId)" value="@category.Id">@category.CategoryName
                    </option>
                }
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="sterm">Search for items</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm"
                    placeholder="Search for items...">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Listing/Index" type="reset" class="btn btn-primary">Reset</a>
        </div>

        <div class="col-12">
            <a asp-controller="Listing" asp-action="Create" class="btn btn-success">Create a Post</a>
            <a asp-controller="Listing" asp-action="MyListings" class="btn btn-outline-primary">My Listings</a>
        </div>

    </form>

</div>

<div class="w-100 mt-4 d-flex flex-wrap justify-content-center">
    @foreach (var item in Model.Items)
    {
        <div class="card mx-2 mb-4" style="width: 16rem;">
            <a asp-controller="Listing" asp-action="Details" asp-route-id="@item.Id">
            @if (!string.IsNullOrEmpty(item.ImagePath))
            {
                <img style="width:100%; height:150px;" src="@item.ImagePath" class="card-img-top" alt="...">
            }
            else
            {
                <img style="width:100%; height:150px;" src="/images/comingSoon.jpg" class="card-img-top" alt="...">
            }
            </a>

            <div class="card-body" style="display: flex; flex-direction: column; justify-content:space-between;">
                <a asp-controller="Listing" asp-action="Details" asp-route-id="@item.Id">
                    <h5 class="card-title">@item.ItemName</h5>
                </a>
                <p class="card-text">
                    Category: @item.CategoryName<br>
                    Description: @item.ItemDescription<br>
                    Price: $@item.ItemPrice<br>
                    Status: @item.Status
                </p>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="display:flex; gap:8px; align-items:center;">
                    <button class="watchlist-heart" data-item-id="@item.Id"
                        style="border: none; background: none; padding: 0; cursor: pointer;">
                        <i class="bi @(item.InWatchlist ? "bi-heart-fill" : "bi-heart")" style="font-size: 1.5rem;"></i>
                    </button>

                    @if (User.FindFirst("AccountId")?.Value == item.AccountId.ToString() || User.IsInRole("Admin"))
                    {
                            <a asp-controller="Listing"
                               asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn btn-warning btn-sm">
                                Edit
                            </a>


                            @using (Html.BeginForm("Delete", "Listing", new { listingId = item.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            }
                    }
                    @if (item.AccountId != myId) {
                        // only allow users to start a chat if it is not their listing
                        <button class="btn btn-info" onclick="openItemChat(@item.Id)">Chat</button>
                    }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="newChatModal" tabindex="-1" aria-labelledby="newChatModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newChatModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="newChatMessageInput" class="form-label">Your message:</label>
            <textarea class="form-control" id="newChatMessageInput"  rows="3">Hi, is this still available?</textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="sendFirstMessage()">Send</button>
      </div>
    </div>
  </div>
</div>

