@model Room2Room.Models.Accounts.ManageModel

@*
TODO:
*add error message upon invalid verification
    - email address domain not valid
    - new password parameters not met
    - any restrictions on profile pic image
* prefill existing information into textboxes
*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <h1>Manage Account</h1>
    <div class="mb-3">
        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Username, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(m => m.Password, "New Password", new { @class = "form-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
    </div>

    @* TODO: profile picture functionality here *@

    <button type="submit" class="btn btn-primary">Save changes</button>

    <span class="text-danger">
        @(Model?.ErrorMessage ?? "")
    </span>
}