@using Room2Room.Models.Chats
@model System.Collections.Generic.List<Room2Room.Models.Chats.ChatModel>


@{
    var myId = int.Parse(User.FindFirst("AccountId")?.Value);
}
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="display:flex;">
    <div style="flex:1; height auto;">
        <ul class="list-group" style="overflow-y: auto; min-heght:400px">
            @for (int i = 0; i < Model.Count; i++)
            {
                var cm = Model[i];
                <li class="list-group-item p-0 border-0 chatSidebarContainer">
                    <a href="#" id="chat-@cm.Chat.ChatId" data-chatId="@cm.Chat.ChatId" data-listingId="@cm.Item?.Id" class="list-group-item list-group-item-action @(i == 0 ? "active" : "")" aria-current="true" style="min-width: 275px;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@cm.ChatName</h5>
                            <small>@cm.LastUpdated</small>
                        </div>
                        <p class="mb-1">
                            @if (cm.Messages.Count > 0) {
                                var message = cm.Messages.Last();
                                string un = "";
                                if (message.FromAccountId == myId) {
                                    un = "Me";
                                } else {
                                    un = cm.AccountIdToNameDictionary.GetValueOrDefault(message.FromAccountId);
                                }
                                <span>@un: @(message.Message.Length > 50 ? message.Message.Substring(0, 50) + "..." : message.Message)</span>
                            } else {
                                <span/>
                            }
                        </p>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div style="flex:2; min-height: 400px; flex-shrink: 0; margin-top:auto">
        @for (int i = 0; i < Model.Count; i++)
        {
            var cm = Model[i];
            <div id="chat-messages-@(cm.Chat.ChatId)" class="chat-message-container" style="visibility: @(i == 0 ? "visible" : "hidden"); display: @(i == 0 ? "flex" : "none"); flex-direction: column; overflow-y: auto; min-height: 400px; max-height: 530px">
                @Html.Partial("_Messages", cm)
            </div>
        }
    </div>

</div>