@using Room2Room.Models.Chats
@model System.Collections.Generic.List<Room2Room.Models.Chats.ChatModel>


@{
    var myId = int.Parse(User.FindFirst("AccountId")?.Value);
}
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="display:flex;">
    <div style="flex:1">
        <ul class="list-group" style="overflow-y: auto; min-heght:400px">
            @for (int i = 0; i < Model.Count; i++)
            {
                var cm = Model[i];
                <li class="list-group-item p-0 border-0 chatSidebarContainer">
                    <a href="#" id="chat-@cm.Chat.ChatId" data="@cm.Chat.ChatId" class="list-group-item list-group-item-action @(i == 0 ? "active" : "")" aria-current="true" style="min-width: 275px;">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@cm.ChatName</h5>
                            <small>@cm.LastUpdated</small>
                        </div>
                        <p class="mb-1">
                            @if (cm.Messages.Count > 0) {
                                var message = cm.Messages.Last();
                                string un = "";
                                if (message.FromAccountId == myId) {
                                    un = "Me";
                                } else {
                                    un = cm.AccountIdToNameDictionary.GetValueOrDefault(message.FromAccountId);
                                }
                                <span>@un: @message.Message</span>
                            } else {
                                <span/>
                            }
                        </p>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div style="flex:2; min-height: 400px; flex-shrink: 0; margin-top:auto">
        @for (int i = 0; i < Model.Count; i++)
        {
            var cm = Model[i];
            <div id="chat-messages-@(cm.Chat.ChatId)" class="chat-message-container" style="visibility: @(i == 0 ? "visible" : "hidden"); display: @(i == 0 ? "flex" : "none"); flex-direction: column; overflow-y: auto; min-height: 400px">
                @Html.Partial("_Messages", cm)
            </div>
        }
    </div>

    <script>
        function registerChatEvents() {
            var elements = document.getElementsByClassName("chatSidebarContainer")
            
            for (let item of elements) {
                item.addEventListener("click", function(x) {
                    var chatId = item.firstChild.nextElementSibling.attributes["data"].value 
                    item.parentElement.querySelectorAll('.active').forEach(el => el.classList.remove('active'));
                    Array.from(document.getElementsByClassName('chat-message-container')).forEach(el => {el.style.visibility = 'hidden'; el.style.display = 'none' });
                    item.firstChild.nextElementSibling.classList.add("active");
                    document.getElementById("chat-messages-" + chatId).style.visibility = "visible";
                    document.getElementById("chat-messages-" + chatId).style.display = "flex";
                })
            }
        }

        async function sendChat(chatId) {
            var box = document.getElementById("chat-box-for-chat-" + chatId)
            var message = box.value
            console.log(message);

            const formData = new URLSearchParams();
            formData.append('message.ChatId', chatId);
            formData.append('message.Message', message);

            const res = await fetch('/Chat/SendMessage', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: formData.toString()
            });

            if (!res.ok) return;

            var resp = await res.text();

            var toReplace = document.getElementById("chat-messages-" + chatId);
            toReplace.innerHTML = resp;
            toReplace.scrollTop = toReplace.scrollHeight;
            box.value = ""
        }
    
        document.addEventListener('DOMContentLoaded', () => {
            registerChatEvents();
            setTimeout(pollChats, 5000);
        });
    </script>
</div>